.allMovieTitle{
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 20rem;
    font-weight: 600;
    color: rgb(229 9 20);
    text-transform: uppercase;
    padding-left: 1.5rem;
}
.movies{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

